* {
	margin: 0px;
	padding: 0px;
}
#page {
	width: 100%;
	height: 100%;
	position: absolute;
}
.div1 { 
	width:100%; height:6%; position:absolute; top:0px; left:0px; bottom:0px;
	background-color:rgba(43, 54, 67, 1);
} 
.div2 { 
	width:100%; height:auto; position:absolute; top:6%; left:0px; bottom:0px; right:0px;
	background-color:rgba(54, 65, 80, 1);
} 
.div3 { 
	width:15%; height:auto; top:6%; left:0px; bottom:0px; right:0px; position:absolute;background-color:rgba(54, 65, 80, 1);
} 
.div4 { 
	width:auto; position:absolute; right:0px;
	height:auto; 
	top:6%; 
	left:15%; 
	bottom:0px;
	background-color:rgba(241, 243, 251, 1);
} 
.search1 {
	position:absolute;
	height:8%;
	width:auto;
	top:11%; 
	left:2%; 
	right:0px;
	bottom:0px;
	background-color:white;
	border:none;
  	border-radius:10px;
}
.jingtoucun{
	position:absolute;
	height:18%;
	width:23%;
	top:22%; 
	left:2%; 
	background-color:rgba(87, 140, 190, 1);
}
.zhongjianjia{
	position:absolute;
	height:18%;
	width:23%;
	top:22%; 
	left:27%; 
	background-color:rgba(227, 92, 89, 1);
}
.shijia{
	position:absolute;
	height:18%;
	width:23%;
	top:22%; 
	left:52%; 
	background-color:rgba(68, 180, 174, 1);
}
.yingkui{
	position:absolute;
	height:18%;
	width:23%;
	top:22%; 
	left:77%; 
	background-color:rgba(135, 117, 165, 1);
}
.platformTable{
	position:absolute;
	height:18%;
	width:97%;
	top:45%; 
	left:3%; 
	background-color:white;
	font-family:'微软雅黑';
	cellspacing:0 ; 
	border:none;
}
.font1{
	position:absolute;
	top:24%; 
	right:2%;
	color: white;
}
.font2{
	position:absolute;
	top:50%; 
	right:2%;
	color: white;
	font-size: 14px;
}
.font3{
	position:absolute;
	top:70%; 
	left:2%;
	color: white;
	font-size: 13px;
}
.lishipcyk{
	position:absolute;
	height:18%;
	width:23%;
	top:11%; 
	left:1%; 
	background-color:rgba(87, 140, 190, 1);
}
.gjccyk{
	position:absolute;
	height:18%;
	width:23%;
	top:11%; 
	left:26%; 
	background-color:rgba(227, 92, 89, 1);
}
.huibaolv{
	position:absolute;
	height:18%;
	width:23%;
	top:11%; 
	left:51%; 
	background-color:rgba(68, 180, 174, 1);
}
.shenglv{
	position:absolute;
	height:18%;
	width:23%;
	top:11%; 
	left:76%; 
	background-color:rgba(135, 117, 165, 1);
}
.search2{
	position:absolute;
	height:25%;
	width:98%;
	left:1%; 
	top:35%; 
	background-color:white;
	border:none;
  	border-radius:10px;
}
.notice1{
	position:absolute;
	height:5%;
	width:90%;
	left:1%; 
	top:65%; 
	background-color :rgba(253, 248, 227, 1);
}
.platformTable2{
	position:absolute;
	height:15%;
	width:98%;
	top:72%; 
	left:1%; 
	background-color:white;
	font-family:'微软雅黑';
	cellspacing:0 ; 
	border:none;
}
.accountTable{
	position:absolute;
	height:18%;
	width:97%;
	top:70%; 
	left:3%; 
	background-color:white;
}
.addAccountDivClass{
	position:absolute;
	height:30px;
	width:97%;
	top:65%; 
	left:2%; 
	margin-right: 300px;
}
.accountTable{
	position:absolute;
	width:97%;
	top:70%; 
	left:2%; 
	background-color:white;
	font-family:'微软雅黑';
	cellspacing:0; 	
	height: auto;
	line-height: 33px;
}
.accordion {
 	width: 90%;
 	max-width: 360px;
 	margin: 30px auto 20px;
 	background-color:rgba(54, 65, 80, 1);
 	-webkit-border-radius: 4px;
 	-moz-border-radius: 4px;
 	border-radius: 4px;
 }

.accordion .link {
	cursor: pointer;
	display: block;
	padding: 15px 15px 15px 42px;
	color: #FFF;
	font-size: 14px;
	font-weight: 700;
	border-bottom: 1px solid #CCC;
	position: relative;
	-webkit-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
}

.accordion li:last-child .link {
	border-bottom: 0;
}

.accordion li i {
	position: absolute;
	top: 16px;
	left: 12px;
	font-size: 18px;
	color: #FFF;
	-webkit-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
}

.accordion li i.fa-chevron-down {
	right: 12px;
	left: auto;
	font-size: 16px;
}

.accordion li.open .link {
	color: #FFF;
}

.accordion li.open i {
	color: #FFF;
}
.accordion li.open i.fa-chevron-down {
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
}

/**
 * Submenu
 -----------------------------*/
 .submenu {
 	display: none;
 	background: #444359;
 	font-size: 14px;
 }

 .submenu li {
 	border-bottom: 1px solid #4b4a5e;
 }

 .submenu a {
 	display: block;
 	text-decoration: none;
 	color: #d9d9d9;
 	padding: 12px;
 	padding-left: 42px;
 	-webkit-transition: all 0.25s ease;
 	-o-transition: all 0.25s ease;
 	transition: all 0.25s ease;
 }

 .submenu a:hover {
 	background: #b63b4d;
 	color: #FFF;
 }